.app {
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.6);
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  height: 500px;
}
@media(max-width: 576px){
  .app{
    margin: 20px;
    height: calc(100vh - 20px);
  }
}
